body {
  background-color: black;
}

.hello {
  background-color: bisque;
  font-size: 60px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#movie-data {
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0;
}

.likes-comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.film-name {
  color: #fff;
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
}

.film {
  border-radius: 10px;
}

.images {
  margin-bottom: 10px;
}
