@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Ysabeau:wght@300&display=swap");

body {
  margin: 0;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  align-items: center;
  width: 700px;
  padding: 2px 15%;
  list-style: none;
}

.logo {
  width: 70px;
}

.nav-a {
  text-decoration: none;
  color: rgb(21, 118, 198);
}

.nav-a:hover {
  color: rgb(194, 192, 192);
}

.active {
  color: rgb(225, 104, 104);
  border-bottom: 2.5px solid #b58989;
}

.copyright {
  font-size: 18px;
  font-family: "Ysabeau", sans-serif;
  margin: 2px 0;
  padding: 5px 0 4px 60px;
  color: rgb(171, 163, 163);
  border: 3px solid rgb(231, 231, 178);
}

/* home page css */

.main-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 100px;
}

.card {
  width: 280px;
  height: auto;
  font-family: "Ysabeau", sans-serif;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(127, 123, 123);
  border-radius: 20px;
  margin-bottom: 40px;
}

.card-img {
  width: 250px;
  height: 333px;
  border-radius: 10px;
  margin-top: 13px;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
}

h3 {
  color: rgb(24, 43, 37);
  font-family: "Ysabeau", sans-serif;
  max-width: 70%;
  word-wrap: break-word;
}

.likes {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #4a4545;
}

.count-like {
  font-size: 15px;
}

.like-icon {
  color: red;
  font-size: 20px;
  cursor: pointer;
}

.like-icon:hover {
  transition: box-shadow 0.5s ease, transform 0.5s ease;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  color: #f76969;
}

.comment-btn {
  width: 70%;
  height: 25px;
  border: none;
  border-radius: 10px;
  background-color: azure;
  margin: 4px 1px 8px;
  cursor: pointer;
}

.comment-btn:hover,
.comment-btn:focus {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  background-color: rgb(215, 255, 242);
}

#movies {
  font-size: 15px;
}

/* .............................Pop up comment........................... */

form > input,
textarea {
  outline: none;
  background-color: #f1f1f1;
  border: 2px solid hsla(260, 11%, 85%, 1);
  border-radius: 4px;
  padding: 5px;
}

.popup {
  display: none;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 10px;
  margin: 3em auto;
  border: 5px solid lightgray;
  width: 83%;
  height: 85vh;
  top: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  overflow-y: scroll;
  gap: 10px;
}

.popup.show {
  display: flex;
}

.pop-img {
  width: 250px;
  height: 333px;
  border: 2px solid rgb(141, 138, 131);
  border-radius: 5px;
}

#comment-list {
  display: flex;
  flex-direction: column;
  width: 55%;
  padding: 10px;
  font-family: "Ysabeau", sans-serif;
  border-radius: 5px;
}

.info-ms {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  padding: 0 0 10px 0;
  align-items: center;
}

#comment-info {
  margin: 0;
  padding-top: 10px;
  width: 100%;
  align-items: center;
  display: contents;
}

#close-btn {
  color: #4a4545;
  position: absolute;
  right: 15px;
  top: 15px;
  background: none;
  font-size: 40px;
  border: none;
}

.comment-show {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
}

.comment-show.show {
  display: block;
}

#input-form input {
  background-color: #f1f1f1;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 55%;
}

#submit {
  margin-top: 8px;
  width: fit-content;
  color: hsla(240, 7%, 100%, 1);
  padding: 5px;
  background: seagreen;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
  align-self: start;
}

.sum {
  margin: 2px;
  font-size: 12px;
  font-family: cursive;
  font-weight: 900;
  color: rgb(75, 82, 81);
}

.summary-text {
  max-width: 850px;
  margin: 2px;
  font-size: 12px;
  font-family: cursive;
  font-weight: 900;
  color: lightseagreen;
}

.movieName {
  margin: 4px;
  font-family: cursive;
  font-size: 24px;
}

.comment-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.comment-item {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  list-style-type: none; /* Add this line to remove bullet points */
}

.comment {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-date {
  font-weight: bold;
  font-size: 14px; /* Adjust the font size as needed */
  color: #555;
}

.comment-username {
  font-weight: bold;
  font-size: 14px; /* Adjust the font size as needed */
  color: #333;
}

.comment-text {
  margin-top: 5px;
  font-size: 12px; /* Adjust the font size as needed */
  color: #777;
}
